.cell {
    float:left;
    width: 29px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    border: 0.5px solid rgba(59, 89, 152, 1);
    /*border-bottom: 1px solid rgba(59, 89, 152, 1);*/
    /*display: inline;*/
}

/*.lt, .mt, .rt, .lc, .mc, .rc {border-bottom: 1px solid rgba(59, 89, 152, 1);}*/
/*.lt, .lc, .lb, .mt, .mc, .mb {border-right: 1px solid rgba(59, 89, 152, 1);}*/

.x {
    color: aquamarine;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-name: flip;
    background-color: tomato;
}
.o {
    color: tomato;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-name: flip;
    background-color: aquamarine;
}

/*
.x:hover {
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-name: bounceIn;
}
*/

.row {
    /*display: block;*/
    clear: both;
}

#gameboard {
    margin: 0 auto;
    width: 90px;
    background-color: #FFF;
    overflow: hidden;
}

body {
    background-color: rgba(59,89,152, 1);
}
