.cell {
    float:left;
    width: 79px;
    height: 79px;
    line-height: 79px;
    text-align: center;
    text-transform: uppercase;

    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-name: rotateIn;
    /*border: 0.5px solid rgba(59, 89, 152, 1);*/
    /*border-bottom: 1px solid rgba(59, 89, 152, 1);*/
    /*display: inline;*/
}

.mt, .lc, .rc, .mb {background-color: rgba(0,0,0,0.05);} 
.lt, .rt, .mc, .lb, .rb {background-color: rgba(0,0,0,0.02);}

/*.lt, .mt, .rt, .lc, .mc, .rc {border-bottom: 1px solid rgba(59, 89, 152, 1);}*/
/*.lt, .lc, .lb, .mt, .mc, .mb {border-right: 1px solid rgba(59, 89, 152, 1);}*/

.x {
    color: rgba(42,44,49,1);
    /*font-family: 'Capriola', sans-serif;
    */
    font-family: sans-serif;
    font-weight: 800;
    font-size: 60px;
    box-shadow: 1px 1px 2px #888888;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-name: flip;
    background-color: rgba(223,186,105,1);
}

.o {
    color: rgba(42,44,49,1);
    /*font-family: 'Capriola', sans-serif;
    */
    font-family: sans-serif;
    font-weight: 800;
    font-size: 60px;
    box-shadow: 1px 1px 2px #888888;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-name: flip;
    background-color: rgba(161,206,247,1);
}


.row {
    /*display: block;*/
    clear: both;
}

#gameboard {
    margin: 0 auto;
    width: 240px;
    /*background-color: #FFF;*/
    overflow: visible; /*THIS USED TO BE HIDDEN BEFORE I ADDED TWITTER BOOTSTRAP!!*/
}

body {
    background-color: rgba(255,254,223,1);
}
