<div id='gameboard'>

    <div class='row'>
      <div class='cell lt {{cells[1]}}' data-ng-click="click(1)">{{cells[1]}}</div> 
      <div class='cell mt {{cells[2]}}' data-ng-click="click(2)">{{cells[2]}}</div>
      <div class='cell rt {{cells[3]}}' data-ng-click="click(3)">{{cells[3]}}</div>
    </div>

    <div class='row'>
      <div class='cell lc {{cells[4]}}' data-ng-click="click(4)">{{cells[4]}}</div>
      <div class='cell mc {{cells[5]}}' data-ng-click="click(5)">{{cells[5]}}</div>
      <div class='cell rc {{cells[6]}}' data-ng-click="click(6)">{{cells[6]}}</div>
    </div>

    <div class='row'>
      <div class='cell lb {{cells[7]}}' data-ng-click="click(7)">{{cells[7]}}</div>
      <div class='cell mb {{cells[8]}}' data-ng-click="click(8)">{{cells[8]}}</div>
      <div class='cell rb {{cells[9]}}' data-ng-click="click(9)">{{cells[9]}}</div>
    </div>

    <br/>
    <br/>
    <div align='center'>
      <button data-ng-click="startTimer()">Start</button>
      <button data-ng-click="stopTimer()">End</button>
    </div>
    <br/>
    <div align='center'>{{minutes}}:{{seconds}}</div>


    <br/>
    <br/>
    <div align='center'>Leaderboard</div>    
    <div align='center'>Player 1: {{name_list[0]}}  Wins: {{owin}}</div>    
    <div align='center'>Player 2: {{name_list[1]}}  Wins: {{xwin}}</div>

    <br/>
    <div align='center' enter leave print-quote>Directive Test</div>
    <br/>
    
</div>

